<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Choose your Spell</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="warning"
                  fill="solid">{{cards.length}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"
             padding>
  <ion-grid style="height: 100%">
    <ion-row>
      <div>
        <img *ngFor="let item of cards; let i = index"
             class="cardImage"
             src="{{item.image_uris.normal}}"
             (click)="castSpell(item)">
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
