<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Garfield's Memory</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger"
                  fill="solid"
                  (click)="onTraumatize()">Traumatize</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"
             padding>
  <ion-grid style="height: 100%">
    <ion-row>
      <div>
        <img *ngFor="let item of cards; let i = index"
             class="cardImage"
             src="{{item.image_uris.normal}}">
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
